body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

.btn{
    padding: 10px 20px;
    border-radius: 50px;
    font-size: xx-large;
    background-color: rgb(36,36,160);
    color: white;
    font-weight: 600;
}

.btn:hover{
    background-color: bisque;
}

.container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.formInputs{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#inp1,#inp2,#inp3,#inp4{
    margin:10px; 
    padding: 10px;
    border:1px solid rgb(75, 37, 187);
    border-radius: 50px;
}

#inp4:hover{
    background-color: rgb(35,35,178);
    color:white;
}