body{
    margin:0;
    padding:0;
}
.box{
    height:100px;
    width:100px;
    padding:10px 0px 30px 50px; 
    border:5px solid blue;/*
    border-left:10px solid blue;
    border-top:10px dashed green;
    border-right:10px dotted blue;
    border-bottom:10px solid rgb(255, 157, 0);*/
    /*border-radius: 50%;*/
    border-top-left-radius:50px;
    border-bottom-right-radius:20px;
    border-radius:20px 50px;
    margin:10px;
    box-sizing:border-box;
    /*
      width:10px;
      padding:5px;
      border:15px solid black;
      margin:10px;

    */
}
.red{
    background-color: rgb(184,11,11);
    color:white;
}
.paragraph:hover{
    font-size: xx-large;
    color:white;
    background-color:blueviolet;
}
.paragraph:active{
    color:red;
}
ul li:first-child{
    color:white;
    background-color:chartreuse;
}
ul li:last-child{
    color:white;
    background-color:rgb(20,95,157);
}
ul li:nth-child(3n+2){
    color:white;
    background-color:rgb(14,140,102);
}
.changeBorder:focus{
    border:10px solid red;

}
.paragraph::selection{
    background-color: blueviolet;
}
.changeBorder::placeholder{
    color:red;
    background-color:aqua ;
    font-size:1px;
}
.paragraph::first-letter{
    font-size:xx-large;
    color:green;
}